In [17]:
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
chart_file = "resources/chart_data.csv"
chart_file = pd.read_csv(chart_file, encoding='UTF-8')
chart_file.head()

          country  Number of Ranked Universities
0      Bangladesh                              2
1       Indonesia                              9
2       Venezuela                              5
3  Czech Republic                              5
4          Sweden                              8

In [ ]:
chart_file.plot.bar(x='country', y='Number of Ranked Universities',figsize=(20,10))
plt.tight_layout()
plt.savefig("Results/Number of Ranked Universities per Country Visualization.png")